<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="clinicMapper">

	<resultMap type="Clinic" id="clinicResultMap">
		<id property="clinicNo" column="CLINIC_NO"></id>
		<result property="memberNo" column="MEMBER_NO"></result>
		<result property="clinicTitle" column="CLINIC_TITLE"></result>
		<result property="clinicContent" column="CLINIC_CONTENT"></result>
		<result property="clinicPalnt" column="CLINIC_PALNT"></result>
		<result property="clinicDate" column="CLINIC_DATE"></result>
		<result property="clinicUpdate" column="CLINIC_UPDATE"></result>
		<result property="clinicPlace" column="CLINIC_PLACE"></result>
		<result property="clinicRepot" column="CLINIC_REPOT"></result>
		<result property="clinicWater" column="CLINIC_WATER"></result>
	</resultMap>
	
		<resultMap type="ClinicFile" id="clinicFileResultMap">
		<id property="clinicFileNo" column="CLINICFILE_NO"></id>
		<result property="clinicNo" column="CLINIC_NO"></result>
		<result property="clinicfileOriginalName" column="CLINICFILE_ORIGINALNAME"></result>
		<result property="clinicfileRenameName" column="CLINICFILE_RENAMENAME"></result>
		<result property="clinicfileSize" column="CLINICFILE_SIZE"></result>
		<result property="clinicfileDate" column="CLINICFILE_DATE"></result>
	</resultMap>
	
	<!-- 기본자료형으로 리턴하고싶으시면 resultType= _int && 생략가능 -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM CLINIC
		WHERE CLINIC_STATUS = 'Y'
	</select>
</mapper>