<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plantMapper">
	<resultMap type="Plant" id="plantResultMap">
		<id property="plantNo" column="PLANT_NO"/>
		<result property="plantName" column="PLANT_NAME"/>
		<result property="plantEngname" column="PLANT_ENGNAME"/>
		<result property="plantPlantae" column="PLANT_PLANTAE"/>
		<result property="plantKind" column="PLANT_KIND"/>
		<result property="plantProperty" column="PLANT_PROPERTY"/>
		<result property="plantLeaf" column="PLANT_LEAF"/>
		<result property="plantDetail" column="PLANT_DETAIL"/>
		<result property="plantWater" column="PLANT_WATER"/>
		<result property="plantEnvi" column="PLANT_ENVI"/>
		<result property="plantHumidity" column="PLANT_HUMIDITY"/>
		<result property="plantDate" column="PLANT_DATE"/>
		<result property="plantCount" column="PLANT_COUNT"/>
		<result property="plantPoint" column="PLANT_POINT"/>
		<result property="plantFileName" column="PLANTFILE_NAME"/>
		<result property="plantStatus" column="PLANT_STATUS"/>
	</resultMap>
	
	<resultMap type="PlantInfo" id="plantInfoResultMap">
		<id property="plantinfoNo" column="PLANTINFO_NO"/>
		<result property="plantNo" column="PLANT_NO"/>
		<result property="piLightInfo" column="PI_LIGHT_INFO"/>
		<result property="piLightContents" column="PI_LIGHT_CONTENTS"/>
		<result property="piTempInfo" column="PI_TEMP_INFO"/>
		<result property="piTempContents" column="PI_TEMP_CONTENTS"/>
		<result property="piHumidityInfo" column="PI_HUMIDITY_INFO"/>
		<result property="piHumidityContents" column="PI_HUMIDITY_CONTENTS"/>
		<result property="piWaterInfo" column="PI_WATER_INFO"/>
		<result property="piWaterContents" column="PI_WATER_CONTENTS"/>
		<result property="piEarthInfo" column="PI_EARTH_INFO"/>
		<result property="piEarthContents" column="PI_EARTH_CONTENTS"/>
		<result property="piBunting" column="PI_BUNTING"/>
	</resultMap>
	
	<resultMap type="PlantFile" id="plantFileResultMap">
		<id property="plantFileNo" column="PLANTFILE_NO"/>
		<result property="plantFileName" column="PLANTFILE_NAME"/>
		<result property="plantFilePath" column="PLANTFILE_PATH"/>
		<result property="plantFileSize" column="PLANTFILE_SIZE"/>
		<result property="plantFileDate" column="PLANTFILE_DATE"/>
		<result property="plantNo" column="PLANT_NO"/>
	</resultMap>
	
	<select id="selectAll" parameterType="Plant" resultMap="plantResultMap">
		SELECT PLANT_NO,PLANT_NAME,PLANT_ENGNAME,PLANT_DETAIL,PLANT_KIND,PLANT_PROPERTY,PLANT_LEAF,PLANT_DATE,PLANT_COUNT,PLANT_POINT,PLANTFILE_NAME,PLANT_STATUS FROM (SELECT ROW_NUMBER() OVER(PARTITION BY PLANT_NO ORDER BY PLANTFILE_NO) AS RNUM, PLANT_NO,PLANT_NAME,PLANT_ENGNAME,PLANT_DETAIL,PLANT_KIND,PLANT_PROPERTY,PLANT_LEAF,PLANT_DATE,PLANT_COUNT,PLANT_POINT,PLANTFILE_NAME,PLANT_STATUS FROM PLANT JOIN PLANTFILE USING(PLANT_NO)) WHERE RNUM = 1 AND PLANT_STATUS = 'Y' ORDER BY PLANT_NO DESC
	</select>
	
	<select id="selectPlant" parameterType="Plant" resultMap="plantResultMap">
		SELECT * FROM PLANT WHERE PLANT_NO = #{plantNo}
	</select>
	
	<select id="selectPlantInfo" parameterType="PlantInfo" resultMap="plantInfoResultMap">
		SELECT * FROM PLANTINFO WHERE PLANT_NO = #{plantNo}
	</select>
	
	<select id="selectFileList" parameterType="PlantFile" resultMap="plantFileResultMap">
		SELECT * FROM PLANTFILE WHERE PLANT_NO = #{plantNo}
	</select>

	<insert id="insertPlant">
		INSERT INTO PLANT VALUES (SEQ_PLANT.NEXTVAL,#{plantName},#{plantEngname},#{plantPlantae},#{plantKind},#{plantProperty},#{plantLeaf},#{plantDetail},#{plantWater},#{plantEnvi},#{plantHumidity},DEFAULT,DEFAULT,DEFAULT,DEFAULT)
	
	</insert>
	
	<insert id="insertPlantDetail">
		INSERT INTO PLANTINFO VALUES(SEQ_PLANTINFO.NEXTVAL,SEQ_PLANT.CURRVAL,#{piLightInfo},#{piLightContents},#{piTempInfo},#{piTempContents},#{piHumidityInfo},#{piHumidityContents},#{piWaterInfo},#{piWaterContents},#{piEarthInfo},#{piEarthContents},#{piBunting})
	
	</insert>
	
	<insert id="insertPlantFile">
		INSERT INTO PLANTFILE VALUES(SEQ_PLANTFILE.NEXTVAL,#{plantFileName},#{plantFilePath},#{plantFileSize},DEFAULT,#{plantNo})
	</insert>
	
	<select id="plantNo" resultType="_int" >
		SELECT MAX(PLANT_NO) FROM PLANT ORDER BY PLANT_NO DESC
	</select>

</mapper>