@charset "UTF-8";

.services:hover, .services.active {
	background: #00bd56;
}

.services:hover .icon, .services.active .icon {
	background: #fff;
}

.services:hover .media-body, .services.active .media-body {
	color: rgba(255, 255, 255, 0.9);
}

.services:hover .media-body h3, .services.active .media-body h3 {
	color: #fff;
}

.services:hover .btn-custom, .services.active .btn-custom {
	background: #fff;
	right: -20px;
}

.services:hover .btn-custom span, .services.active .btn-custom span {
	color: #00bd56;
}

.ftco-intro .services {
  padding: 30px;
  //background: #fff;
  border-radius: 4px; }
  @media (min-width: 992px) {
    .ftco-intro .services {
      margin-top: 0px; } }
.services .media-body .btn-custom {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #00bd56;
    -webkit-box-shadow: 0px 10px 30px -4px rgb(0 0 0 / 15%);
    -moz-box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 10px 30px -4px rgb(0 0 0 / 15%);
}

.admin-icon {
    font-size: 40px;
    color: #00bd56;
}
.admin-form :hover{
	cursor: pointer;
}